*{padding: 0; margin: 0; scroll-behavior: smooth; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
#home{
  display: flex; 
  width: 100%;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  position: relative;
}
.left{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background: rgb(26, 23, 23); 
  height: 100%; 
  width: 20%; 
  position: fixed; 
  left: 0;
}
.logo{display: flex; flex-basis: 10%; justify-content: center; align-items: center; width: 100%;}
.logo-design{padding-left: 10px;font-size: 3rem; display: flex; justify-content: flex-start; text-decoration: none; width: 100%; color: white; background-image: linear-gradient(to right, #2196F3, rgb(10, 10, 121)); background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent; cursor: pointer;box-shadow: 1px 0px 0px 0px white;}
.navigation{display: flex; flex-basis: 70%; flex-direction: column; width: 100%; align-items: center; justify-content: center;}
.navigation ul{width: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
.navigation ul li{justify-content: flex-start; align-items: center; display: flex; width: 100%; margin: 10px 0; padding: 10px 0; cursor: pointer; transition: all 0.8s ease;}
.navigation ul li > a, .navigation ul li > i{display: flex; margin: 0 10px; font-weight: bold;}
.navigation ul li > a{text-decoration: none; font-size: 1.3rem; color: white;}
.current{background-image: linear-gradient(to right, #2196F3, rgb(10, 10, 121));}
.fas, .far, .fab{color: white; font-size: 2rem;}
.bottom{border-top: grey 2px solid; display: flex; flex-basis: 20%; align-items: center; justify-content: center; width: 100%;}
.bottom-img{display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; flex-basis: 40%; margin-left: 5px;}
.bottom-img img{ width: 70px ; height: 70px; border-radius: 50%;}
.bottom-intro{flex-basis: 60%; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 0 5px;}
.bottom-intro h3{color: white; font-size: 2rem; margin-bottom: 10px;}
.bottom-intro a{text-decoration: none; color: white; font-size: 1rem;}
.right{
  background-color: rgb(14, 6, 44); 
  height: 100%;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
  right: 0; 
  width: 80%;
  margin-left: 20%;
}
.home-image{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.home-image img{
  width: 220px;
  height: 250px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 80%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 80%;
}
.icons{
  background-image: linear-gradient(to right, #2196F3, rgb(10, 10, 121)); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
  cursor: pointer;
}
.name, .wordings, .icons{
  display: flex; 
  width: 50%; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  margin: 22px 0; 
}
.name h2{font-size: 3rem;  color: rgb(243, 235, 235);}
.wordings span{font-size: 1.4rem; letter-spacing: 1px; font-weight: bold; color: rgb(211, 197, 197);}
.icons{display: flex; justify-content: center; width: 40%; align-items: center}
.icons a{display: flex; flex-basis: 20%; margin: 0 10px}
.download{width: 22%; display: flex; justify-content: center; margin-top: 8px; text-align: center}
.download a{width: 100%; text-decoration: none; background: linear-gradient(to right, #2196F3, rgb(10, 10, 121));  color: white; padding: 15px; cursor: pointer; border: none; border-radius: 2px; font-size: 1.5rem; font-weight: bold; transition: all 0.8s ease;}
.download a:hover{box-shadow: 1px 1px 6px 3px white; border-radius: 5px}

/* ABOUT */
#about{
  background-color: rgb(5, 3, 12); 
  position: relative; 
  width: 80%; 
  margin-left: 20%;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  min-height: 50vh; 
  padding: 30px 10px;
}
.about-container{
  display: flex; 
  align-items: center; 
  flex-direction: row; 
  width: 100%; 
  height: 100%;
}
.about-image{display: flex; flex-basis: 40%; width: 100%; justify-content: center; align-items: center; height: 100%;}
.about-image img{width: 70%; border-radius: 10px;}
.about-skill{display: flex; flex-basis: 60%; width: 100%; height: 100%; flex-direction: column; justify-content: center; align-items: center; color: #fff;}
.about-header{width: 100%; display: flex; flex-basis: 10%; font-size: 1.3rem; text-align: justify; height: 100%; margin-bottom: 20px;}
.about-intro{height: 100%; width: 100%; flex-basis: 20%; flex-direction: column; text-align: justify; margin-bottom: 20px;}
.about-intro p{font-size: 1rem;}
.about-intro h3{margin: 10px 0; font-size: 1.5rem;}
.skill-level{flex-basis: 60%; height: 100%; width: 100%; display: flex; flex-direction: column; text-align: justify; padding-top: 20px;}
.skill-level h1{flex-basis: 10%; font-size: 1.5rem; margin-bottom: 20px;}
.skill-level p{font-size: 1rem; flex-basis: 20%; margin-bottom: 15px;}
.skill-bar{margin-top: 20px; flex-basis: 70%; width: 95%; height: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.language{align-items: flex-start; display: flex; flex-basis: 100%; max-width: 40%; max-height: 40%; flex-direction: column; height: 100%; margin-bottom: 30px;}
.language-icons{width: 100%; display: flex; flex-direction: row; align-items: center;}
.language-icons .fab{font-size: 2.3rem; color: blue;}
.language-icons i, .language-icons p{margin: 0 20px 0 0; font-weight: bold;}
.container{width: 100%; background-color: white; margin-top: 20px; height: 30%; display: flex; align-items: center;}
.skills{display: flex; justify-content: end; align-items: center; font-weight: bold; color: white;}
.html {width: 80%; height: 100%; background-color: #2196F3;} /* Green */
.css {width: 70%; height: 100%;  background-color: #2196F3;} /* Blue */
.javascript {width: 40%; height: 100%;  background-color: #2196F3;} /* Red */
.python {width: 60%; height: 100%;  background-color: #2196F3;} /* Dark Grey */
.more{display: flex; flex-basis: 10%; width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; margin-top: 20px;}
.more-btn{font-size: 1.2rem; cursor: pointer; display: flex; align-items: flex-start; color: white; padding: 12px; font-weight: bold; border: none; background: linear-gradient(to right, #2196F3, rgb(10, 10, 121));}
.more-btn:hover{box-shadow: 1px 1px 6px 3px white;}
.show{display: flex;}
.more-about-me{
  color: white;
  display: none;
  width: 95%;
  margin: auto;
}
.more-container{
  background-color: rgb(20, 16, 34);
  border-radius: 20px;
  max-height: 70vh;
  margin-top: 15px;
  display: flex; 
  flex-wrap: wrap;
  flex-basis: 95%;
  height: 100%;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;  /* Disable horizontal scroll */
  scrollbar-width: none;    /* Disable scrollbar display for Firefox */
  -ms-overflow-style: none;   /* Disable scrollbar display for Internet Explorer */
  scroll-behavior: smooth;
}
.more-container::-webkit-scrollbar{  /* Mozilla */
  width: 0;
  height: 0;
}
.more-about-me-container{
  min-width: 47%;
  justify-content: space-around;
  display: flex;
  flex-basis: 25%;
  width: 100%;
  flex-direction: column;
  height: 100%;
  margin: 35px 5px;
}
.personal-info, .achievements, .experience, .education{
  flex-basis: 10%;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 10px;
}

.personal-info h2, .achievements h2, .experience h2, .education h2{
  font-size: 2rem;
  width: fit-content;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px gray dashed;
}
.profile-details{
  flex-basis: 80%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.info{
  display: flex;
  align-items: flex-start;
  flex-basis: 10%;
  min-width: 50%;
  width: 100%;
  font-size: 1.1rem;
  height: 100%;
  margin: 15px 0;
  color: rgb(194, 185, 185);
}
.info>span{
  margin-left: 3px;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
}
.more-cv-download{
  display: flex;
  flex-basis: 10%;
  margin: 10px 0;
  width: 100%;
  align-items: center;
}
.more-cv{
  width: 40%;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(to right, #2196F3, rgb(10, 10, 121));  
  color: white; 
  padding: 10px; 
  cursor: pointer; 
  border: none; 
  border-radius: 2px; 
  font-size: 1.3rem; 
  font-weight: bold; 
  transition: all 0.8s ease;
}
.more-cv:hover{box-shadow: 1px 1px 6px 3px white;}
.achievement-container{
  flex-basis: 90%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.achievement-block{
  border-radius: 10px;
  border: gray 1px solid;
  display: flex;
  max-width: 46%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 15px 4px;
  padding: 40px 0;
  justify-content: center;
}
.achievement-block h3{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}
.achievement-block div{
  font-size: 1.3rem;
  text-align: center;
  color: rgb(102, 98, 98);
  align-items: center;
  margin: auto;
  width: 70%;
  display: flex;
}
.achievement-block div>span{
  font-size: 3.5rem;
}
.experience-container, .education-container{
  flex-basis: 90%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.experience-block, .education-block{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  align-items: flex-start;
}
.experience-container-left, .education-container-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 10%;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  margin-right: 20px;
  position: relative;
}
.experience-icon, .education-icon{
  display: flex;
  justify-content: center;
  flex-basis: 10%;
  height: 100%;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}
.experience-icon .fa, .education-icon .fa{
  border-radius: 100%;
  font-size: 1.5rem;
  background-color: rgb(91, 131, 170);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.experience-line, .education-line{
  flex-basis: 90%;
  border-left: 2px solid rgb(145, 145, 138);
  position: absolute;
  left: 50%;
  transform: translate(0, 100%);
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
}
.experience-container-right, .education-container-right{
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  width: 100%;
  height: 100%;
}
.date{
  background-color: rgb(91, 131, 170);
  width: 30%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 0;
  margin-bottom: 15px;
}
.role{
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 13px 0;
}
.role > span{
  font-size: 1rem;
  color: rgb(140, 126, 126);
  margin-left: 5px;
}
.role-description{
  font-size: 0.96rem;
  letter-spacing: 1px;
  color: rgb(221, 220, 220);
  text-align: justify;
}
.close-container{
  display: flex;
  flex-basis: 5%;
  width: 100%;
  height: 10%;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.close-container .close{
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 3px solid;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}
.on{display: flex;}
.off{display: none;}

/* services */
#services, #portfolio, #contact{
  background-color: rgb(14, 6, 44); 
  min-height: 50vh; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex; 
  position: relative; 
  width: 80%;
  margin-left: 20%;
  color: white;
}
.services-container, .portfolio-container, .contact-container{
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.services-header, .portfolio-header, .contact-header{
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.services-intro, .portfolio-intro, .contact-intro{
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: justify;
  width: 50%;
  height: 100%;
  line-height: 30px;
}
.services-intro p, .portfolio-intro p, .contact-intro p{
  font-size: 1.2rem;
  color: gray;
  height: 100%;
}
.services-information, .contact-information{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.services-information-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 23%;
  height: 250px;
  align-items: center;
  background-color: rgb(34, 29, 72);
  color: white;
  margin: 10px 5px;
  border-radius: 10px;
  transition: all 1s ease;
}

.services-information-container-icon{
  display: flex;
  flex-basis: 33%;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2.8rem;
  color: white;
}
.services-information-container-info{
  font-size: 1.8rem;
  flex-basis: 33%;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 90%;
  font-weight: 600;
  height: 100%;
  text-align: center;
}
.services-information-container-more{
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  font-size: 1.3rem;
  height: 100%;
}
.services-information-container-more-info, .services-information-container-more-icon{
  padding: 5px;
  cursor: pointer;
  justify-content: center;
}
.services-information-container-more-icon{
  display: block;
  font-size: 20px;
}
.services-information-container:hover{
  transform: skew(3deg, 5deg);
  box-shadow: 2px 1px 2px 5px white;
  color: rgb(119, 112, 112);
}
/* PORTFOLIO */
#portfolio{
  background-color: rgb(5, 3, 12);
}

/* Carousel */
.carousel-container{
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-slide{
  display: flex;
  width: 400px;
  height: 350px;
}
.carousel-slide img{
  display: flex;
  width: 100%; 
  height: 100%;
  padding: 5px;
  margin: 0 2px 0 0;
  border-radius: 20px;
}
#portfolio .fa-arrow-left, #portfolio .fa-arrow-right{
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  z-index: 10;
  cursor: pointer;
}
#portfolio .fa-arrow-left{
  left: 2%;
}
#portfolio .fa-arrow-right{
  right: 2%;
}
/* CONTACT */

.contact-information-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 31.5%;
  min-height: 150px;
  align-items: flex-start;
  background-color: rgb(34, 29, 72);
  color: white;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.contact-information-container:hover{
  background-color: rgb(102, 97, 143);
}
.contact-information-container-icon{
  display: flex;
  flex-basis: 20%;
  width: 100%;
  height: 100%;
  margin: 7% 0 0 5%;
}
.contact-information-container-icon i{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(91, 131, 170);
  color: white;
  font-size: 2rem;
} 
.contact-information-container-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 80%;
  width: 100%;
  margin-top: 7%;
  margin-left: 5%;
  color: rgb(211, 197, 197);
}

.contact-information-container-info h3{
  width: 100%;
  font-size: 22px;
  margin-bottom: 15px;
}
.contact-information-container-info span{
  font-size: 15px;
  margin-bottom: 15px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.form-container{
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 29, 72);
  border-radius: 3px;
}
form div{
  margin: 15px 0;
  min-height: 60px;
  width: 500px;
  padding: 0 20px;
}
.form-header{
  font-size: 1.7rem;
  font-weight: bold;
  width: 80%;
  color: white;
}
.form-header>span{
  color: gray;
}
form div input, form div textarea{
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  border-bottom:rgb(99, 95, 95) 2px solid;
  font-size: 15px;
  background: transparent;
  color: white;
  overflow-y: hidden;
}
form > button{
  margin: 15px 20px;
  width: 20%;
  font-size: 1.2rem;
  padding: 10px 0;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: rgb(91, 131, 170);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
form > button:hover{
  background-color: rgb(226, 236, 247);
  color: black;
}
::placeholder{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

/* HAMBURGER */
.hamburger-container{
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: rgb(82, 6, 223);
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.bar{
  position: relative;
  display: block;
  width: 25px;
  background-color: rgb(235, 198, 198);
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}

/* MEDIA QUERIES */

 /*Desktop */
 @media (max-width: 1350px){
   /* LEFT SIDE OF THE FRONT PAGE */
   .bottom-img img{ width: 65px; height: 65px;}
   .bottom-intro h3{font-size: 1.82rem;}
   .bottom-intro a{font-size: 0.8rem;}
 }

 @media (max-width: 1200px){
   /*Hamburger Menu*/
  .hamburger-container{
     display: flex;
   }
  .hamburger-container.active .bar:nth-child(2){   /*Middle bar   */
    opacity: 0;
  }
  .hamburger-container.active .bar:nth-child(1){   /*Upper bar   */
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-container.active .bar:nth-child(3){   /*Lower bar   */
    transform: translateY(-8px) rotate(-45deg);
  }
  .left{
    display: none;
    width: 23%; 
    position: fixed; 
    left: 0;
    z-index: 20;
  }
  .left.active{
    display: flex;
  }
  .right, #about, #services, #portfolio, #contact{
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 968px){
  .left{
    width: 30%;
  }
  .bottom-img img{ width: 65px; height: 65px;}
  .bottom-intro h3{font-size: 1.7rem;}
  .bottom-intro a{font-size: 0.8rem;}

  .home-image img{
    width: 180px;
    height: 210px;
  }

  .name, .wordings, .icons{
    margin: 35px 0; 
  }

  .name h2{font-size: 2.9rem;}
  .wordings span{font-size: 1.55rem;}
  .download a{padding: 8px; font-size: 1.3rem;}
  
  /* services */
  .services-header, .portfolio-header, .contact-header{
    font-size: 2.5rem;
  }
  .services-intro p, .portfolio-intro p, .contact-intro p{
    font-size: 1rem;
  }
  .services-information-container{
    max-width: 30%;
  }
  .services-information-container-icon{
    font-size: 2.4rem;
  }
  .services-information-container-info{
    font-size: 1.56rem;
  }
  .services-information-container-more{
    font-size: 1.15rem;
  }

  /* PORTFOLIO */
  .carousel-slide{
    width: 320px;
    height: 280px;
  }
  #portfolio .fa-arrow-left, #portfolio .fa-arrow-right{
    font-size: 2.2rem;
  }

  /* CONTACT */
  .contact-information{
    justify-content: space-between;
  }
  .contact-information-container-icon i{
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
  } 
  .contact-information-container-info h3{
    font-size: 20px;
  }
  .contact-information-container-info span{
    font-size: 13px;
  }

  .form-header{
    font-size: 1.5rem;
  }
  form div input, form div textarea{
    font-size: 1.05rem;
  }
  form > button{
    font-size: 1.05rem;
    padding: 8px 0;
  }
  
  ::placeholder{
    font-size: 1.05rem;
  }
  /* More about me */
  .personal-info h2, .achievements h2, .experience h2, .education h2{
    font-size: 1.75rem;
  }
  .info{
    font-size: 1rem;
  }
  .more-cv{
    font-size: 1.15rem; 
  }
  .achievement-block h3{
    font-size: 2.7rem;
  }
  .achievement-block div{
    font-size: 1.15rem;
  }
  .achievement-block div>span{
    font-size: 3rem;
  }
  .experience-icon .fa, .education-icon .fa{
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
  }
  .experience-line, .education-line{
    min-height: 113px;
  }
  .date{
    width: 47%;
  }
  .role-description{
    font-size: 0.9rem;
  }
  .close-container .close{
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
  }
}

@media(max-width: 805px){   
  /* 720px to 805px */
     /* LEFT SIDE OF THE FRONT PAGE */
     .bottom-img img{ width: 60px; height: 60px;}
     .bottom-intro h3{font-size: 1.63rem;}
     .bottom-intro a{font-size: 0.77rem;}

     .name, .wordings{
      margin: 27px 0; 
      width: 57%;
    }
    .download{width: 21%;}
    .download a{width: 100%; padding: 13px;}

    .experience-line, .education-line{
      min-height: 130px;
    }
}
@media(max-width: 720px){
  /* 568px to 720px */
  .logo, .bottom{padding: 0; margin: 0; background-color: rgb(201, 205, 209);}
  .logo-design{font-size: 2.7rem;}

  /* Navigation */
  .navigation{flex-basis: 78%;}
  .bottom-img{display: none;}
  .bottom{width: 100%; flex-basis: 12%;}
  .bottom-intro{width: 100%; flex-basis: 100%; padding: 0;}
  .bottom-intro h3{font-size: 2.3rem; margin: 5px 0; color: rgb(11, 27, 33)} 
  .bottom-intro a{font-size: 12px; width: 100%; margin: 5px 0; text-align: center; color: rgb(11, 27, 33)}
  .home-image{margin-bottom: 20px;}
  .home-image img{width: 240px; height: 270px;}
  .name, .wordings{width: 85%; margin: 22px 0;}
  .name h2{font-size: 2.75rem;}
  .wordings span{font-size: 1.59rem;}
  .download{width: 29%; margin-top: 18px}
  .download a{width: 100%; padding: 13px 12px; font-size: 1.45rem; display: flex; text-align: center}

  /* ABOUT SECTION */
  .about-container{
    flex-direction: column;
    justify-content: space-between;
  }

  .about-image{width: 100%; margin-bottom: 20px;}
  .about-image img{width: fit-content; height: 450px;}
  .about-skill{justify-content: flex-start; margin-top: 10px;}
  .about-header{font-size: 1.45rem;}
  .about-intro p, .skill-level p{font-size: 1.15rem;}

  .more-container{
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    max-height: 50vh;
    flex-wrap: nowrap;
  }
  .more-about-me-container{
    justify-content: space-between;
    flex-direction: column;
    padding: 0px 0px 20px 0;
    border-bottom: gray 3px solid;
  }
  .personal-info, .achievements, .experience, .education{
    margin-bottom: 0;
  }

  .personal-info h2, .achievements h2, .experience h2, .education h2{
    font-size: 1.75rem;
  }
  .profile-details{
    flex-wrap: wrap;
  }
  .info{
    font-size: 1.07rem;
    margin: 15px 0;
  }
  .info>span{
    margin-left: 3px;
  }
  .more-cv{
    width: 30%;
  }
  .achievement-container{
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .achievement-block{
    border-radius: 5px;
    max-width: 43%;
    margin: 10px 10px 20px 3px;
    padding: 10px 0;
  }
  .achievement-block div{
    font-size: 1.5rem;
  }
  .experience-line, .education-line{
    min-height: 103px;
  }
  .date{
    width: 37%;
    font-size: 1.4rem;
    border-radius: 10px;
  }
  .role{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 13px 0;
  }
  .role > span{
    font-size: 1.1rem;
  }
  .role-description{
    font-size: 1.05em;
    padding-right: 10px;
  }

  /* SERVICES */
  .services-header, .portfolio-header, .contact-header{
    font-size: 2.3rem;
  }
  .services-intro, .portfolio-intro, .contact-intro{
    width: 100%;
  }
  .services-intro p, .portfolio-intro p, .contact-intro p{
    font-size: 1.15rem;
  }
  .services-information-container{
    max-width: 42%;
    margin: 15px 5px;
    border-radius: 5px;
    height: 195px;
  }
  /* .services-information-container-icon, .services-information-container-more, .services-information-container-info{
    margin: 0;
  } */
  .services-information-container-icon{
    font-size: 2.2rem;
  }
  .services-information-container-info{
    width: 70%;
    font-size: 1.4rem;
  }
  .services-information-container-more{
    font-size: 1.15rem;
  }
  .services-information-container-more-icon{
    font-size: 17px;
  }
  .services-information-container:hover{
    box-shadow: 0px 1px 0px 0px white;
  }

  /* PORTFOLIO */
  .carousel-slide{
    width: 300px;
    height: 250px;
  }
  .carousel-slide img{
    border-radius: 10px;
  }
  #portfolio .fa-arrow-left, #portfolio .fa-arrow-right{
    font-size: 2.2rem;
  }

  /* CONTACT */
  .contact-information-container{
    max-width: 47%;
    margin: 15px 5px;
    border-radius: 5px;
  }
  .contact-information-container-icon i{
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
  } 
  .contact-information-container-info h3{
    font-size: 18px;
  }
  .contact-information-container-info span{
    font-size: 15px;
  }
  form{
    border-radius: 5px;
  }
  .form-header{
    font-size: 1.6rem;
    text-align: justify;
    width: 100%;
  }
  form div input, form div textarea{
    font-size: 1.1rem;
  }
  form > button{
    font-size: 1.1rem;
    border-radius: 4px;
  }
  ::placeholder{
    font-size: 1.1rem;
  }
}
@media(max-width: 568px){
  .left{
    height: 100%;
  }
  .logo{
    flex-basis: 10%; justify-content: center;
  }
  .logo-design{font-size: 1.8rem;}


  /* Navigation */
  .navigation{flex-basis: 90%; justify-content: flex-start; padding-top: 20px}
  .bottom{display: none}
  .bottom-intro{width: 100%; flex-basis: 100%; padding: 0;}
  .bottom-intro h3{font-size: 2.3rem; margin: 5px 0; color: rgb(11, 27, 33)} 
  .bottom-intro a{font-size: 12px; width: 100%; margin: 5px 0; text-align: center; color: rgb(11, 27, 33)}
  .home-image{margin-bottom: 20px;}
  .home-image img{width: 240px; height: 270px;}
  .name, .wordings{width: 85%; margin: 22px 0;}
  .name h2{font-size: 2.75rem;}
  .wordings span{font-size: 1.59rem;}
  .download{width: 29%; margin-top: 18px}
  .download a{width: 100%; padding: 13px 12px; font-size: 1.45rem; display: flex; text-align: center}

  .home-image img{
    width: 170px;
    height: 200px;
    border-radius: 5px;
  }
  .name h2{font-size: 2.3rem;}
  .wordings span{font-size: 1.3rem; width: 100%}
  .icons{width: 65%;}
  .icons a{margin: 0}
  .download{width: 35%}
  .download a{text-align: center; font-size: 1.35rem; justify-content: center;}




  /* form */
  .form-container{
    width: 100%;
  }
  form{
    width: 100%;
  }
  form div{
    width: 100%;
  }
}

