*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.intro-page{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.left{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-basis: 20%;
  background: black;
  height: 100%;
}
.logo{
  display: flex;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: grey 2px solid;
}
.logo-design{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  color: white;
  background-image: linear-gradient(to right, #fd1d1d, #fcb045, #ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}
.navigation{
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bottom{
  display: flex;
  flex-basis: 20%;
  align-items: center;
}
.bottom-img{
  width: 100%;
  flex-basis: 30%;
}
.bottom-img img{
  width: 60%;
  height: 60%;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
}